* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(80, 199,
 105);
 margin: 0;
 padding: 0;
}
.wrapper {
    width: 900px; 
    height: 1500px;
    background-color: red;
}
h1 {
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
}
img {
    width: 300px;
    height: 300px;
    /*float: left; */
}
p {
    width: 600px;
   /* height: 300px;*/
    float: right;
    line-height: 20px;
    padding: 30px;
}
@media only screen and (min-width:400px) and (max-width:800px) {
    .wrapper {
    background-color: orange;
    width: 100%;
}
p {
    width: 100%;
    float: left;
}
img {
    float: left!important;
}
@media only screen (max-width: 399px) {
    .wrapper {
        background-color:blue;
        widows: 100px;
    }
    p {
        width: 100%;
        color:white;
    }
    .slika {
        width: ;
        

    }
    .golemo {
        display: none;
    }